.h3-team-detail {
  margin-top: 2rem;
}
.remove-button {
  border: 1px solid white;
  background: red;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  right: 10px;
  margin-top: 13px;
  color: white;
  width: 6rem;
}

.Superhero {
  color: green;
  font-weight: bold;
}

.Villain {
  color: red;
  font-weight: bold;
}